<%include ../templates/header %>

    <div id="campforms" class="container-fluid text-center">

        <h1 class="display-4"> Update your comment </h1>

        <div class="row">

            <div style="margin:20px auto">

                <form action="/campsites/<%=campsite_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                    <input type="text" class="form-control" name="comment[text]" value="<%=comment.text%>">
                    <button type="submit" class="btn btn-primary container-fluid mt-2">Update</button>
                </form>

                <a href="/campsites/<%=campsite_id%>"> Go back </a>

            </div>

        </div>
    </div>


    <%include ../templates/footer %>