<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>       
        <div class="container" id="title-header">
                <h1 class="display-2"> ¡Welcome to CampFinder! </h1>
                <p><a class="btn btn-primary btn-lg" href="/campsites" role="button">
                    <span class="glyphicon glyphicon-film"></span>See campsites                    
                </a></p>
        </div>

        <div id="img-slider">
                <img src="/img/campsite1.jpg">
                <img src="/img/campsite2.jpg">
                <img src="/img/campsite3.jpg">
                <img src="/img/campsite4.jpg">
            </div>
    </body>
    

<%include ./templates/footer %>
